<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziluck.fortuneblocks.mappers.BlockWrapperMapper">
    <resultMap id="BaseResultMap" type="BlockWrapper">
        <constructor>
            <idArg column="id" javaType="int" name="id"/>
            <arg column="x" javaType="int" name="x"/>
            <arg column="y" javaType="int" name="y"/>
            <arg column="z" javaType="int" name="z"/>
            <arg column="world" javaType="String" name="world"/>
        </constructor>
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="x" jdbcType="INTEGER" property="x"/>
        <result column="y" jdbcType="INTEGER" property="y"/>
        <result column="z" jdbcType="INTEGER" property="z"/>
        <result column="world" jdbcType="VARCHAR" property="world"/>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="BlockWrapper" useGeneratedKeys="true">
        INSERT INTO block_tracker (x, y, z, world)
        VALUES (#{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}, #{z,jdbcType=INTEGER}, #{world,jdbcType=VARCHAR})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM block_tracker
    </select>
    <delete id="deleteByAll" parameterType="BlockWrapper">
        DELETE FROM block_tracker
        WHERE x=#{x,jdbcType=INTEGER}
        AND y=#{y,jdbcType=INTEGER}
        AND z=#{z,jdbcType=INTEGER}
        AND world=#{world,jdbcType=VARCHAR}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2019-09-10-->
    <select id="countByAll" resultType="int">
        SELECT COUNT(1)
        FROM block_tracker
        WHERE x=#{x,jdbcType=INTEGER}
        AND y=#{y,jdbcType=INTEGER}
        AND z=#{z,jdbcType=INTEGER}
        AND world=#{world,jdbcType=VARCHAR}
    </select>
</mapper>